@import "utils/variables";

#header {
    max-height: 160px;
    overflow: hidden;
    padding: 40px 0;
    #logo-container {
        img {
            width: 220px;
            height: auto;
        }
    }

    #navigation {
        ul {
            list-style: none;

            li {
                a {
                    color: rgba(255,255,255,0.7);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: $nav-size-font;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

#footer {
    padding-top: 50px;
    .social-icons {
        .social-icon {
            margin-right: 15px;
            a {
                color: rgba(255,255,255,0.7);

                &:hover {
                color: white;
                } 
            }
        }
    }

    .copyright {
        margin-top: 10px;
        .copyright-text {
            text-align: center;
            color: rgba(255,255,255,0.5);
        }
    }
}

#main-container {
    padding-top: 100px;
    padding-bottom: 50px;
}