@import "utils/variables";

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

#header {
    max-height: 160px;
    overflow: hidden;
    padding: 40px 0;
    #logo-container {
        img {
            width: 220px;
            height: auto;
        }
    }

    #navigation {
        ul {
            list-style: none;

            li {
                a {
                    color: rgba(255,255,255,0.7);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: $nav-size-font;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

        @media (max-width: 725px){
            display: none;
        }
    }
}

#footer {
    padding-top: 50px;
    .social-icons {
        .social-icon {
            margin-right: 15px;
            a {
                color: rgba(255,255,255,0.7);

                &:hover {
                color: white;
                } 
            }
        }

        @media (max-width: 725px){
            display: none;
        }
    }

    .copyright {
        margin-top: 10px;
        .copyright-text {
            text-align: center;
            color: rgba(255,255,255,0.5);
        }

        @media (max-width: 725px){
            display: none;
        } 
    }
}

#main-container {
    padding-top: 100px;
    padding-bottom: 50px;
}

#mobile-nav {
    background-color: $light-color;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: none;

    .mobile-nav-item {
        img {
            width: 30px;
        }
    } 

    @media ( max-width: 425px ){
        display: block;
    }
}

#sidebar-menu {
    position: fixed;
    background-color: $light-color;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-300px);

    &.opened {
        transform: translateX(0) !important;
    }

    .navigation-list {
        list-style-type: none;


        li {
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            padding: 10px;

            a{
                color: white;
                text-decoration: none;
                font-family: $primary-font;
                font-size: $mobile-menu;
            }
        }
    }
}