@import "utils/variables";
 
#home {
    background-image: url('../img/bg/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
}

#header {
    max-height: 160px;
    overflow: hidden;
    padding: 40px 0;
    #logo-container {
        img {
            width: 220px;
            height: auto;
        }
    }

    #navigation {
        ul {
            list-style: none;

            li {
                a {
                    color: rgba(255,255,255,0.7);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: $nav-size-font;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

#main-container {
    padding-top: 100px;
    padding-bottom: 50px;
}


#hero-section {
    #slider-text-container {
        .inner-text {
            h2 {
                color: white;
                font-size: $slider-title-pc;
                font-family: $primary-font;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;

                @media (max-width: 425px){
                    font-size: $slider-title-mobile;
                }
                
                &::before {
                    content: "";
                    position: absolute;
                    top: -5px; 
                    width: 10%;
                    border-top: 5px solid white;
                }
                
            }

            p {
                color: white;
            }
        }
    }
}

#featured-images {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        img {
            max-width: 250px;
            border-radius: 10px;
            border: 2px solid grey;
            

        }

        a {
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
    
}


#footer {
    padding-top: 50px;
    .social-icons {
        .social-icon {
            margin-right: 15px;
            a {
                color: rgba(255,255,255,0.7);

                &:hover {
                color: white;
                } 
            }
        }
    }

    .copyright {
        margin-top: 10px;
        .copyright-text {
            text-align: center;
            color: rgba(255,255,255,0.5);
        }
    }
}