@import "utils/variables";
 
#home {
    background-image: url('../img/bg/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

    .container {
        @media (max-width: 725px){
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

#hero-section {
    #slider-text-container {
        @media(max-width: 725px){
            margin-bottom: 20px;
        }

        .inner-text {
            h2 {
                color: white;
                font-size: $slider-title-pc;
                font-family: $primary-font;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;

                @media (max-width: 425px){
                    font-size: $slider-title-mobile;
                }
                
                &::before {
                    content: "";
                    position: absolute;
                    top: -5px; 
                    width: 10%;
                    border-top: 5px solid white;
                }
                
            }

            p {
                color: white;
            }
        }
    }
}

#featured-images {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        img {
            max-width: 250px;
            border-radius: 10px;
            border: 2px solid grey;
            

        }

        a {
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
    
}